.header-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    max-height: 14vh;
    transition: top 0.5s;
    padding: 1rem;

    .logo {
        display: flex;
        align-items: center;
        margin: 1.8rem 2.5rem 2.5rem 2rem;

    }

    .iconWrapper {
        background: linear-gradient(125deg,
                var(--colors-purp-light),
                var(--colors-blue-light),
                var(--colors-purp-light),
                var(--colors-blue-light),
                var(--colors-purp-light));
        background-size: 400% 100%;
        background-repeat: no-repeat;
        animation: gradientAnimation 40s linear infinite;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 0;
        }

        100% {
            background-position: 100% 0;
        }
    }

    .label {
        margin-left: 0.8rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--colors-blue-light);
    }

}